{{ define "main" }}
	<main>
	  {{ .Content }}
	  <h1 id="upcoming">Upcoming Events</h1>
	  Announcements about the upcoming events (<a href="{{ relURL "/announcements/index.xml" }}">RSS feed</a>):
	  {{- $pages :=  where .Site.RegularPages ".Section" "announcements" }}
	  <ul>
	  {{- if $pages }}
	  {{- range first 3 $pages }}
	  <li>
	    {{- with .Params.event_date }}
	    <strong>{{ dateFormat (default "Jan 2, 2006" $.Site.Params.upcomingDateForm) . }}</strong>:
	    {{- end }}
   	    <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
	  </li>
	  {{- end }}
	  {{- end }}
	  <li><a href="{{ relURL "/announcements/" }}" ><strong>Past announcements …</strong></a></li>
	  </ul>
	</main>
{{ end }}
